body{
    font-family: 'Tajawal', sans-serif !important;
}

.hero_section h1{
    font-size: 45px;
}

 .row {
    text-align: right;
    direction: rtl;
}

.entro_section{
    background-color: var(--main-color-alt);
    padding-top: 100px;
    padding-bottom: 100px;
}

.entro_section h2{
    padding-bottom: 20px;
}

.entro_section p{
    line-height: 2;
    font-size: 22px;
}

.category_item h5{
    text-align: right;
    direction: rtl;
}

.float-end {
    float: left !important;
}

.container_with_lang{
    direction: rtl !important;
    text-align: right !important;
}

.box_slider button{
    font-size: 16px;
}

.box_slider .icon_heart{
    font-size: 28px;
}

.container_with_lang h1{
    font-size: 30px;
}

.container_with_lang .float-end{
    font-size: 25px;
}

.profile_setting .card_profile_items h4{
    font-size: 20px !important;
}

input ,.d-flex, .card ,.modal{
    text-align: right;
    direction: rtl;
}

.container_all_products button{
    font-size: 17px !important;
}

.navbar_home ,p {
    direction: rtl !important;
}

.navbar_home .logo_home{
    margin-left: 50px;
    margin-right: 0px !important;
}

.nav_for_mobil .login_row , .nav_for_mobil .register_row{
    direction: rtl;
    text-align: right;
}

.modal .btn-close{
    float: left !important;
    position: absolute;
    top: 6%;
    left: 2%;
}

.box_messages .send .row{
    direction: rtl !important;
    text-align: right;
}

.box_messages .recive .row{
    direction: ltr !important;
    text-align: ltr !important;
}

.box_drob_doun_under{
    right: 0;
}

.navbar_profile_ul{
    width: 100%;
    text-align: left !important;
}

.box_drob_doun_under .box_hover_main{
    right: 299px;
    border-left: 1px solid var(--main-color-alt);
    border-right: 0px;
    border-bottom: 1px solid var(--main-color-alt);
}

.Complaints_Suggestions_section .container ,h1{
    direction: rtl;
    text-align: right;
}


.Complaints_Suggestions_section .container .card {
    direction: rtl;
    text-align: center !important;
}


.notes_page .title{
    text-align: right;
    direction: rtl;
}
